<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
<%- include('./partials/head.ejs')%>

  <body class ="#ede7f6 deep-purple lighten-5">
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <h1 class="h1-index">The Hard Cider Store</h1>
    <% products.forEach(product=> {%>
      <div class="row">
        <div class="col s6 .center-align">
          <h3 class="h3-index">
            <%= product.name%>
          </h3>
        </div>
        <div>
          <div class="col s6 .right-align">
            <a href="/products/<%=product._id%>"><img src="<%= product.img%>"></a>
          </div>
          <div>
            <%})%>
          </div>
        </div>
      </div>

      <a class ="waves-effect amber waves-light btn" href="/products/new"><span class="purple-text darken-3">Add a Product</span></a>

      <%- include('./partials/footer.ejs')%>
  </body>

</html>