<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <%- include('./partials/head.ejs')%>
    <body class ="#ede7f6 deep-purple lighten-5">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1 class="h1-show"><%=products.name%></h1><br/>
        <div class = "row" >
            <div class="div-show">
                <img src="<%=products.img%>"><br/>
                <span class="bolded">Description:</span><%=products.description%><br/>
                <span class="bolded">Price:</span><%=products.price%><br/>
                <span class="bolded">Qty:</span><%=products.qty%><br/>
            </div>
            <div>
                <button class ="waves-effect waves-light btn">Buy this RIGHT now!</button>
            </div>
            <div class="button-under-buy">
                <a  class="waves-effect waves-light btn" href="/products/<%= products._id %>/edit">EDIT</a>
                <form action="/products/<%=products._id%>?_method=DELETE" method="POST">
                    <input class="waves-effect waves-light btn" type="submit" value="DELETE"/>
                </form>
            </div>
           
           
            
          
            
           
     
        </div>
            <%- include('./partials/footer.ejs')%>     
    </body>
</html>